language: go
sudo: false

go:
  - 1.10.x

cache:
  directories:
    - vendor

install:
  - make dependencies

script:
  - make lint
  - make test

after_success:
  - make cover
  - bash <(curl -s https://codecov.io/bash)